!!!
%html
  %head
    %title Quiz Game
    = favicon_link_tag 'favicon.ico'
    = javascript_include_tag 'https://www.google.com/jsapi'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/header'
    .container
      -if notice
        %p.notice.alert.alert-info= notice
      -if alert
        %p.alert.alert-danger= alert
      = yield
