!!!
%html
  %head
    %title= full_title(yield(:title))
    = javascript_include_tag 'https://www.google.com/jsapi'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/header'
    .container{:data => { page_type: "#{content_for?(:container_class) ? yield(:container_class) : 'default'}"}}
      -if notice
        %p.notice.alert.alert-info= notice
      -if alert
        %p.alert.alert-danger= alert
      = yield
    = debug(params) if Rails.env.development?
